<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/SahilSubba/eclipse-workspace/PursuitSoftwareEdge">
        <classes>
            <class name="AboutUsTest"/>
            <!--  <class name="Test1.testing1.BlogsAndInsightsTest"/>
             <class name="Test1.testing1.CareerTabTest"/>
             <class name="Test1.testing1.ContactUsTabTest"/>
             <class name="Test1.testing1.HomeTabTest"/>
             <class name="Test1.testing1.ServicesTabTest"/>-->
        </classes>
    </test></suite>